h1, h2, p, li {
    font-family: 'Kaisei HarunoUmi', serif;
    text-align: center;
}

img {
    height: auto;
    display: block;
    margin: auto;
    border-radius: 5%;
}

i {
    color: white;
    text-align: center;

}

a {
    text-decoration: none;
}

nav a {
    font-family: 'Kaisei HarunoUmi', serif;
    text-align: center;
}